<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>AdventuRazvi</title>
    </head>
<body>


<h2>New Trip</h2>
<form action="#" th:action="@{/createTrip}" th:object="${trip}" method="post">
<p>Name: <input type="text" th:field="*{title}"/></p>
<p>Descriptions: <textarea th:field="*{description}"/></p>
<p>Start Date: <input type="datetime" th:field="*{{startDate}}"></p>
<p>End Date:<input type="datetime" th:field="*{{endDate}}"></p>
<p>Location:<input type="text" th:field="*{location}"></p>
<p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>