<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="index::site-head">
</head>
<body>
<div th:insert="index::navbar"></div>
<div th:insert="index::navbar2"></div>
<h3>Trips List</h3>
<div> <table class="form-group">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Location</th>
    </tr>
    <tr th:each="trip : ${trips}">
        <td th:text="${trip.id}"></td>
        <td th:text="${trip.title}"></td>
        <td th:text="${trip.description}"></td>
        <td th:text="${{trip.startDate}}"></td>
        <td th:text="${{trip.endDate}}"></td>
        <td th:text="${trip.location}"></td>
    </tr>
</table>
</div>

<div th:insert="index::site-footer"></div>
<div th:insert="index::modal"></div>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript"  src="/static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>

</html>